* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  color: #18262b;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.text-accent {
  color: #301aff;
}

img {
  max-width: 100%;
}

a {
  color: #301aff;
}

.navbar .row {
  width: 100%;
}

.navbar-custom {
  background-color: #f4f4f4;
  /* change the brand and text color */
  /* change the link color */
  /* change the color of active or hovered links */
  /* change button color*/
}
.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
  color: #18262b;
}
.navbar-custom .navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}
.navbar-custom .navbar-nav .nav-link {
  color: #18262b;
  transition: background-color 2s;
}
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
  background-color: #ffe100;
}
.navbar-custom .navbar-toggler {
  /* change toggler icon color */
}
.navbar-custom .navbar-toggler .fa-bars {
  color: #18262b;
}

.banner {
  font-family: "ABeeZee", sans-serif;
  background: #ffe100;
  height: fit-content;
  margin-top: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
}

.skills,
.projects,
.contact {
  padding-top: 100px;
}

.section-title {
  font-size: 3rem;
  padding-bottom: 50px;
}

.skills {
  padding-bottom: 100px;
}
.skills .skill-icons {
  font-size: 4rem;
  text-shadow: 1px 1px 1px #ccc;
}

.projects .card-deck {
  margin-bottom: 30px;
}
.projects .card {
  height: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in;
  text-align: left;
}
.projects .card .card-title {
  font-size: 1.3rem;
}
.projects .card .badge {
  background-color: #301aff;
  color: #ffffff;
  font-weight: 400;
}
.projects .card .card-text {
  padding-bottom: 10px;
  color: #4f4f4f;
  font-size: 0.9rem;
}
.projects .card .card-text a {
  color: #4f4f4f;
}
.projects .card .link-darker {
  color: black;
  font-weight: 500;
}
.projects .card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.projects .card-img-top {
  height: 228px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 1px 0px 0px rgba(145, 150, 157, 0.1803921569);
}

.btn-custom {
  color: #fff;
  background-color: #301aff;
  border-color: #301aff;
}
.btn-custom:hover {
  color: #fff;
  background-color: #1200b3;
  border-color: #1200b3;
}
.btn-custom.focus, .btn-custom:focus {
  color: #fff;
  background-color: #1200b3;
  border-color: #1200b3;
  box-shadow: 0 0 0 0.2rem #301aff;
}

.btn-outline-custom {
  color: #301aff;
  border-color: #301aff;
}
.btn-outline-custom:hover {
  color: #fff;
  background-color: #301aff;
  border-color: #301aff;
}
.btn-outline-custom .btn-outline-dark.focus,
.btn-outline-custom .btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem #1200b3;
}

.contact .row > div {
  height: 100px;
}
.contact .badge {
  transition: color 2s;
}
.contact .badge:hover {
  color: black;
}

footer p {
  background-color: #ffe100;
}
footer .link-darker {
  color: black;
  font-weight: 800;
}

/*# sourceMappingURL=styles.css.map */
