$color-text-dark: #18262b;
$color-text-light: #ffffff;
$color-text-gray: #4f4f4f;
$color-bg: #f4f4f4;

$color-accent-yellow: #ffe100;

$color-accent-normal: #301aff;
$color-accent-darker: #1200b3;

$color-other: #100e0f;
