$color-text-dark: hsl(196, 29%, 13%);
$color-text-light: hsl(180, 100%, 100%);
$color-bg: hsl(0, 0%, 100%);

$color-accent-yellow: hsl(53, 100%, 50%);

$color-accent-normal:hsl(246, 100%, 55%);
$color-accent-darker: hsl(246, 100%, 35%);

$color-other: hsl(330, 6%, 6%);
