@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-bg;
  color: $color-text-dark;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.text-accent {
  color: $color-accent-normal;
}

img {
  max-width: 100%;
}
a {
  color: $color-accent-normal;
}
// Navbar Section
.navbar {
  & .row {
    width: 100%;
  }
  & .navbar-nav {
    align-items: center;
    & .nav-icons {
      gap: 15px;
      padding: 0.5rem 1rem;
      & a {
        font-size: 1.5rem;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: black;
        }
      }
    }
  }
}

.navbar-custom {
  background-color: $color-bg;

  /* change the brand and text color */
  & .navbar-brand,
  & .navbar-text {
    color: $color-text-dark;
  }

  .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
  }

  /* change the link color */
  & .navbar-nav .nav-link {
    color: $color-text-dark;
    transition: background-color 2s;
  }
  /* change the color of active or hovered links */
  & .nav-item.active .nav-link,
  & .nav-item:hover .nav-link {
    background-color: $color-accent-yellow;
  }
  /* change button color*/
  & .navbar-toggler {
    //border: 1px solid $color-text-dark;

    /* change toggler icon color */
    & .fa-bars {
      color: $color-text-dark;
    }
  }
}

// Banner Section
.banner {
  font-family: 'ABeeZee', sans-serif;
  background: $color-accent-yellow;
  height: fit-content;
  margin-top: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
  & .skill-icons i::before {
    font-size: 2.5rem;
  }
}

.projects,
.contact {
  padding: 3rem 0;
}

.section-title {
  font-size: 3rem;
  padding-bottom: 1rem;
}

// Project Section
.projects {
  & .card-deck {
    margin-bottom: 30px;
  }
  & .card {
    height: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in;
    text-align: left;

    & .card-title {
      font-size: 1.3rem;
    }

    & .badge {
      background-color: $color-accent-normal;
      color: $color-text-light;
      font-weight: 400;
    }

    & .card-text {
      padding-bottom: 10px;
      color: $color-text-gray;
      font-size: 0.9rem;
      & a {
        color: $color-text-gray;
      }
    }

    & .link-darker {
      color: black;
      font-weight: 500;
    }
  }

  & .card:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }

  & .card-img-top {
    height: 228px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 1px 0px 0px #91969d2e;
  }
}

.btn-custom {
  color: #fff;
  background-color: $color-accent-normal;
  border-color: $color-accent-normal;

  &:hover {
    color: #fff;
    background-color: $color-accent-darker;
    border-color: $color-accent-darker;
  }
  &.focus,
  &:focus {
    color: #fff;
    background-color: $color-accent-darker;
    border-color: $color-accent-darker;
    box-shadow: 0 0 0 0.2rem $color-accent-normal;
  }
}

.btn-outline-custom {
  color: $color-accent-normal;
  border-color: $color-accent-normal;

  &:hover {
    color: #fff;
    background-color: $color-accent-normal;
    border-color: $color-accent-normal;
  }

  .btn-outline-dark.focus,
  .btn-outline-dark:focus {
    box-shadow: 0 0 0 0.2rem $color-accent-darker;
  }
}

// Footer Section
footer {
  p {
    background-color: $color-accent-yellow;
  }

  .link-darker {
    color: black;
    font-weight: 800;
  }
}
